body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navbar {
  background-color: teal;
  color: white;
}

#all-products-page {
  display: flex;
  border: 2px solid red;
}

#all-products {
  display: flex;
  border: 2px solid purple;
  flex-direction: column;
  align-items: flex-end;
}

#all-products-box {
  display: flex;
  border: 2px solid gold;
  width: 90%;
}

#all-products-img {
  height: 10%;
  width: 10%;
}

#all-products-btns {
  display: flex;
  border: 2px solid green;
}

#all-products-info {
  display: flex;
  border: 2px solid blue;
  flex-direction: column;
}

#all-products-title {
  display: flex;
  border: 2px solid black;
}

#category-title {
  display: flex;
  border: 2px solid black;
}

#category-all {
  display: flex;
  border: 2px solid green;
}
