#navbar {
  background: center / cover url('./images/banner-cereal_1400x400.png');
  background-color: orange;
  color: blanchedalmond;
  height: fit-content;
  display: flex;
  align-items: center;
  width: 1440px;
}

#logo {
  margin: 1rem;
  text-align: center;
  align-items: center;
}

#navbar h2 {
  color: white;
  text-shadow: 1px 1px 4px white;
  padding: 0.3rem;
  padding-bottom: 1rem;
  background-color: rgb(128, 128, 128, 0);
  border-radius: 5px;
}

nav div a {
  margin-top: 2.3em;
  color: #545617;
  font-size: xx-large;
  background-color: #fee400;
  box-shadow: 0 0 6px 6px #fee400;
  border: 2px solid #fee400;
}

nav div a:hover {
  color: #00a971;
}

#logout-lnk:hover {
  box-shadow: 0 0 6px 6px #fe5000;
}

@media only screen and (max-width: 1125px) {
  #logo img {
    size: 70%;
  }
  nav > div {
    margin-top: 2.6em;
  }
  nav div a {
    font-size: 26px;
    margin: 10px;
  }
}
